@media (min-width: 992px) {
  h1 {
    font-size: 3rem; } }

@media (min-width: 1440px) {
  h1 {
    font-size: 3.8rem; } }

@media (min-width: 1920px) {
  h1 {
    font-size: 5.5rem; } }

@media (min-width: 992px) {
  h5 {
    font-size: 1.5rem; } }

@media (min-width: 1440px) {
  h5 {
    font-size: 1.75rem; } }

@media (min-width: 1920px) {
  h5 {
    font-size: 2rem; } }

.secondary-color {
  color: #3040C4; }

.light-blue-color {
  color: #00a1c6; }

.dropdown-toggle::after {
  display: none; }

.navbar {
  background-color: #F3C6BD; }
  @media (min-width: 992px) {
    .navbar {
      margin: 1rem 3rem; } }
  @media (min-width: 1920px) {
    .navbar {
      margin: 1rem 5rem; } }

.nav-item {
  transition: all 0.8s ease-in; }
  .nav-item .nav-link:hover {
    font-weight: 700; }

.dropdown-menu {
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  box-shadow: 0 13px 18px -8px rgba(0, 0, 0, 0.15), 0 29px 45px 4px rgba(0, 0, 0, 0.08), 0 11px 55px 10px rgba(0, 0, 0, 0.07);
  line-height: 26px; }
  .dropdown-menu .dropdown-item {
    white-space: normal;
    padding: 4px 10px; }
    @media (min-width: 1200px) {
      .dropdown-menu .dropdown-item {
        white-space: nowrap; } }
    .dropdown-menu .dropdown-item p {
      margin: 0; }

.main {
  height: 100vh;
  background-color: #F3C6BD;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem; }
  @media (min-width: 992px) {
    .main {
      padding: 0 4rem;
      flex-direction: row; } }
  @media (min-width: 1920px) {
    .main {
      padding: 0 6rem; } }
  .main__text {
    margin-top: 2rem; }
    @media (min-width: 768px) {
      .main__text {
        margin-top: 0; } }
  .main__image {
    display: none; }
    @media (min-width: 768px) {
      .main__image {
        width: 44rem;
        display: block; }
        .main__image img {
          width: 100%; } }
    @media (min-width: 992px) {
      .main__image {
        width: 115rem; } }

.what-it {
  background-color: #F4F5F7;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.5rem 1rem; }
  @media (min-width: 768px) {
    .what-it {
      flex-direction: row; } }
  @media (min-width: 992px) {
    .what-it {
      padding: 1.5rem 4rem; } }
  @media (min-width: 1920px) {
    .what-it {
      padding: 2rem 6rem; } }
  .what-it__block {
    padding-bottom: 1rem; }
    @media (min-width: 768px) {
      .what-it__block {
        padding: 0 1rem 0 0; } }
    @media (min-width: 1920px) {
      .what-it__block {
        padding: 0 5rem 0 0; } }

.brands {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .brands__image {
    width: 33%;
    padding: 2rem; }
    @media (min-width: 768px) {
      .brands__image {
        width: 12%; } }
    @media (min-width: 992px) {
      .brands__image {
        width: 8%; } }
    @media (min-width: 1920px) {
      .brands__image {
        width: 6%; } }
    .brands__image img {
      width: 100%; }

.block,
.communicate-footer,
.trial {
  flex-direction: column;
  padding: 2rem 1rem; }
  @media (min-width: 768px) {
    .block,
    .communicate-footer,
    .trial {
      flex-direction: row;
      align-items: center;
      justify-content: center; } }
  @media (min-width: 992px) {
    .block,
    .communicate-footer,
    .trial {
      padding: 2.5rem 4rem; } }
  @media (min-width: 1920px) {
    .block,
    .communicate-footer,
    .trial {
      padding: 2.5rem 6rem; } }
  @media (min-width: 768px) {
    .block__text,
    .communicate-footer__text,
    .trial__text {
      width: 55%; } }
  @media (min-width: 1440px) {
    .block__text,
    .communicate-footer__text,
    .trial__text {
      width: 40%; } }
  @media (min-width: 1920px) {
    .block__text,
    .communicate-footer__text,
    .trial__text {
      width: 30%; } }
  .block__text .extra-text,
  .communicate-footer__text .extra-text,
  .trial__text .extra-text {
    display: none; }
    @media (min-width: 768px) {
      .block__text .extra-text,
      .communicate-footer__text .extra-text,
      .trial__text .extra-text {
        display: block; } }
    .block__text .extra-text__border,
    .communicate-footer__text .extra-text__border,
    .trial__text .extra-text__border {
      border-bottom: solid 2px #3040C4;
      padding-bottom: 1rem; }
    .block__text .extra-text__p,
    .communicate-footer__text .extra-text__p,
    .trial__text .extra-text__p {
      border-bottom: solid 2px #F4F5F7;
      padding-bottom: 1rem; }
  .block__image,
  .communicate-footer__image,
  .trial__image {
    width: 14rem;
    align-self: center; }
    @media (min-width: 768px) {
      .block__image,
      .communicate-footer__image,
      .trial__image {
        width: 30rem;
        padding: 0 3rem; } }
    .block__image img,
    .communicate-footer__image img,
    .trial__image img {
      width: 100%; }

.team {
  background-color: #FCF0E3; }
  @media (min-width: 768px) {
    .team {
      flex-direction: row-reverse; } }
  .team .card {
    background-color: #FFFFFF;
    border-bottom: solid 5px #0189D1;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 4px 6px 0 rgba(0, 0, 0, 0.05), inset 0 1px 0 0 rgba(255, 255, 255, 0.1); }

@media (min-width: 768px) {
  .communicate-footer {
    align-items: start;
    justify-content: space-around; } }

.communicate-footer__item {
  margin-bottom: 1rem; }
  @media (min-width: 768px) {
    .communicate-footer__item {
      margin-bottom: 0;
      width: 30%; } }
  .communicate-footer__item u {
    color: #0189D1; }

.engage {
  background-color: rgba(0, 161, 198, 0.15); }
  .engage .block__image {
    flex-direction: column;
    width: 12rem;
    margin: 1rem 0; }
    @media (min-width: 768px) {
      .engage .block__image {
        flex-direction: row;
        justify-content: space-around;
        width: 18rem; } }
    @media (min-width: 992px) {
      .engage .block__image {
        width: 20rem; } }
    @media (min-width: 1200px) {
      .engage .block__image {
        width: 26rem; } }
    .engage .block__image img {
      width: 100%;
      padding: 0.5rem 0; }
      @media (min-width: 768px) {
        .engage .block__image img {
          margin: 1.5rem;
          padding: 0; } }

.trusted {
  padding: 2rem 1rem; }
  @media (min-width: 1200px) {
    .trusted {
      padding: 2.5rem 4rem;
      background-image: url("/images/trusted-bg.png");
      background-position: center;
      background-repeat: no-repeat; } }
  @media (min-width: 1920px) {
    .trusted {
      padding: 2.5rem 6rem; } }
  .trusted .card {
    border: none; }
    @media (min-width: 1200px) {
      .trusted .card {
        width: 60%;
        margin: 0 auto; } }
    @media (min-width: 1440px) {
      .trusted .card {
        width: 45%; } }
    @media (min-width: 1920px) {
      .trusted .card {
        width: 30%; } }

.hiring {
  padding: 2rem 1rem; }
  @media (min-width: 1200px) {
    .hiring {
      padding: 2.5rem 4rem; } }
  @media (min-width: 1920px) {
    .hiring {
      padding: 2.5rem 6rem; } }
  .hiring .jobs .job {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(43, 41, 45, 0.2);
    border-radius: 8px;
    padding: 1rem;
    margin: 0.5rem 0;
    cursor: pointer;
    color: #2B292D;
    transition: all 0.5s ease-in; }
    @media (min-width: 768px) {
      .hiring .jobs .job {
        flex-direction: row;
        justify-content: space-between; } }
    @media (min-width: 992px) {
      .hiring .jobs .job {
        width: 70%;
        align-self: center; } }
    @media (min-width: 1440px) {
      .hiring .jobs .job {
        width: 60%; } }
    @media (min-width: 1920px) {
      .hiring .jobs .job {
        width: 40%; } }
    .hiring .jobs .job:hover {
      background-color: #3040C4; }
      .hiring .jobs .job:hover h5 {
        color: #fff; }
      .hiring .jobs .job:hover p {
        color: #fff; }
        .hiring .jobs .job:hover p img {
          display: none; }
    .hiring .jobs .job p {
      margin: 0; }

.trial {
  background-color: #F4F5F7; }

.plan {
  padding: 2rem 1rem;
  background-color: #F4F5F7; }
  @media (min-width: 1200px) {
    .plan {
      padding: 2.5rem 4rem; } }
  @media (min-width: 1920px) {
    .plan {
      padding: 2.5rem 6rem; } }
  .plan__header {
    margin-top: 7rem; }
    @media (min-width: 992px) {
      .plan__header {
        margin: 8rem 0 1rem 0; } }
    @media (min-width: 1440px) {
      .plan__header {
        margin: 10rem 0 2rem 0; } }
  .plan__cards {
    flex-direction: column; }
    @media (min-width: 768px) {
      .plan__cards {
        flex-direction: row;
        justify-content: space-around; } }
    .plan__cards .card {
      border-radius: 8px;
      margin-bottom: 2rem;
      cursor: pointer;
      transition: all 0.5s ease-in; }
      @media (min-width: 992px) {
        .plan__cards .card {
          width: 32%; } }
      @media (min-width: 1200px) {
        .plan__cards .card {
          width: 28%; } }
      @media (min-width: 1440px) {
        .plan__cards .card {
          width: 25%; } }
      @media (min-width: 1920px) {
        .plan__cards .card {
          width: 22%; } }
      .plan__cards .card:hover {
        box-shadow: 0 13px 18px -8px rgba(0, 0, 0, 0.15), 0 11px 55px 10px rgba(0, 0, 0, 0.07); }
      .plan__cards .card .card-img-top {
        width: 10rem;
        align-self: center;
        margin-bottom: 1rem; }
        @media (min-width: 768px) {
          .plan__cards .card .card-img-top {
            width: 8rem;
            height: 10rem; } }
        @media (min-width: 992px) {
          .plan__cards .card .card-img-top {
            width: 10rem;
            height: 12rem; } }
        @media (min-width: 1440px) {
          .plan__cards .card .card-img-top {
            width: 12rem;
            height: 14rem; } }
        @media (min-width: 1920px) {
          .plan__cards .card .card-img-top {
            width: 14rem;
            height: 16rem; } }
        .plan__cards .card .card-img-top img {
          width: 100%; }
      .plan__cards .card .card-text .btn {
        display: block; }
      .plan__cards .card .card-footer {
        background-color: transparent; }
        .plan__cards .card .card-footer ul {
          list-style: none; }
          .plan__cards .card .card-footer ul li {
            padding: 0.25rem 0; }
            .plan__cards .card .card-footer ul li::before {
              content: "\2713";
              color: #3040C4;
              display: inline-block;
              width: 1em;
              margin-left: -0.9em; }
  .plan__extra {
    flex-direction: column; }
    @media (min-width: 768px) {
      .plan__extra {
        flex-direction: row;
        justify-content: space-around;
        align-items: center; } }
    .plan__extra .text-center {
      margin-bottom: 3rem; }
      @media (min-width: 768px) {
        .plan__extra .text-center {
          width: 45%; } }
      @media (min-width: 992px) {
        .plan__extra .text-center {
          width: 35%; } }
      @media (min-width: 1440px) {
        .plan__extra .text-center {
          width: 25%; } }
      .plan__extra .text-center a {
        color: #3040C4;
        text-decoration: underline; }

.fqa {
  padding: 2rem 1rem; }
  @media (min-width: 1200px) {
    .fqa {
      padding: 2.5rem 4rem; } }
  @media (min-width: 1920px) {
    .fqa {
      padding: 2.5rem 6rem; } }
  @media (min-width: 768px) {
    .fqa__text {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around; } }
  .fqa__text .block {
    padding: 1rem 0; }
    @media (min-width: 768px) {
      .fqa__text .block {
        width: 45%; } }
    @media (min-width: 1200px) {
      .fqa__text .block {
        width: 35%; } }

.btn {
  background-color: #3040C4;
  color: #fff;
  border-radius: 2px;
  letter-spacing: 0;
  line-height: 13px;
  padding: 0.8rem 1.5rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 4px 6px 0 rgba(0, 0, 0, 0.05), inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition: all 0.5s ease-in;
  border: none; }
  .btn:hover {
    color: #3040C4;
    font-weight: 700;
    background-color: #fff;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1), 0 8px 12px 0 rgba(0, 0, 0, 0.05), inset 0 2px 0 0 rgba(255, 255, 255, 0.1); }
  .btn__white {
    color: #3040C4;
    background-color: #fff;
    font-weight: 700; }
    .btn__white:hover {
      background-color: #3040C4;
      color: #fff; }

.buttons {
  flex-direction: column; }
  @media (min-width: 768px) {
    .buttons {
      flex-direction: row;
      margin-top: 3rem; } }
  .buttons a {
    margin-top: 1rem; }
    @media (min-width: 768px) {
      .buttons a {
        margin: 0 0.5rem; } }

footer {
  padding: 2rem 1rem 0 1rem; }
  @media (min-width: 1200px) {
    footer {
      padding: 2.5rem 4rem 0 4rem; } }
  @media (min-width: 1920px) {
    footer {
      padding: 2.5rem 6rem 0 6rem; } }
  footer .footer-big {
    flex-direction: column; }
    @media (min-width: 768px) {
      footer .footer-big {
        flex-direction: row;
        justify-content: space-around; } }
    @media (min-width: 768px) {
      footer .footer-big__block {
        width: 33%; } }
    footer .footer-big__block--text a {
      color: #2B292D;
      padding: 0.2rem 0; }
    footer .footer-big__block .logo {
      color: #2B292D; }
      footer .footer-big__block .logo img {
        width: 3rem; }
    footer .footer-big__block .stores {
      margin: 1rem 0;
      justify-content: start; }
      footer .footer-big__block .stores a {
        padding-right: 1rem; }
  footer .footer-small {
    justify-content: space-between;
    border-top: solid 2px #F4F5F7;
    padding: 1rem 0; }
    @media (min-width: 768px) {
      footer .footer-small {
        flex-direction: row; } }
    footer .footer-small .additional-nav a {
      color: #2B292D;
      padding-right: 0.5rem; }
    footer .footer-small .social-icons a {
      padding-right: 0.5rem; }

* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif, sans-serif;
  color: #2B292D;
  font-weight: 400; }
