.contact {
  padding: 2rem 1rem;
  margin-top: 6rem;
  flex-direction: column;
  @include respond-to("md") {
    padding: 2rem 4rem;
  }
  @include respond-to("lg") {
    padding: 3rem 4rem;
  }
  @include respond-to("xl") {
    padding: 3rem 4rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  @include respond-to("fhd") {
    padding: 3rem 6rem;
  }
  &__text {
    @include respond-to("xl") {
        width: 40%;
    }
  }
  &__image {
    @include respond-to("lg") {
      width: 40rem;
      align-self: center;
    }
    @include respond-to("fhd") {
        width: 60rem;
    }
    img {
      width: 100%;
    }
  }
}
