footer {
  padding: 2rem 1rem 0 1rem;
  @include respond-to("xl") {
    padding: 2.5rem 4rem 0 4rem;
  }
  @include respond-to("fhd") {
    padding: 2.5rem 6rem 0 6rem;
  }
  .footer-big {
    flex-direction: column;
    @include respond-to("md") {
      flex-direction: row;
      justify-content: space-around;
    }
    &__block {
      @include respond-to("md") {
        width: 33%;
      }
      &--text a {
        color: $dark-color;
        padding: 0.2rem 0;
      }
      .logo {
        color: $dark-color;
        img {
          width: 3rem;
        }
      }
      .stores {
        margin: 1rem 0;
        justify-content: start;
        a {
          padding-right: 1rem;
        }
      }
    }
  }
  .footer-small {
    justify-content: space-between;
    border-top: solid 2px $light-grey-color;
    padding: 1rem 0;
    @include respond-to("md") {
      flex-direction: row;
    }
    .additional-nav a {
      color: $dark-color;
      padding-right: 0.5rem;
    }
    .social-icons a{
      padding-right: 0.5rem;
    }
  }
}

// @include respond-to("xl") {
//     width: 60%;
//     margin: 0 auto;
//    }
//    @include respond-to("hd") {
//      width: 45%;
//     }
//    @include respond-to("fhd") {
//      width: 30%;
//     }
