.main {
  height: 100vh;
  background-color: $primary-color;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  @include respond-to("lg") {
    padding: 0 4rem;
    flex-direction: row;
  }
  @include respond-to("fhd") {
    padding: 0 6rem;
  }
  &__text {
    margin-top: 2rem;
    @include respond-to("md") {
      margin-top: 0;
    }
    .buttons {
      flex-direction: column;
      @include respond-to("md") {
        flex-direction: row;
        margin-top: 3rem;
      }
      a {
        margin-top: 1rem;
        @include respond-to("md") {
          margin: 0 0.5rem;
        }
      }
    }
  }
  &__image {
    display: none;
    @include respond-to("md") {
      width: 44rem;
      display: block;
      img {
        width: 100%;
      }
    }
    @include respond-to("lg") {
      width: 115rem;
    }
  }
}

.what-it {
  background-color: $light-grey-color;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.5rem 1rem;
  @include respond-to("md") {
    flex-direction: row;
  }
  @include respond-to("lg") {
    padding: 1.5rem 4rem;
  }
  @include respond-to("fhd") {
    padding: 2rem 6rem;
  }
  &__block {
    padding-bottom: 1rem;
    @include respond-to("md") {
      padding: 0 1rem 0 0;
    }
    @include respond-to("fhd") {
      padding: 0 5rem 0 0;
    }
  }
}

.brands {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  &__image {
    width: 33%;
    padding: 2rem;
    @include respond-to("md") {
      width: 12%;
    }
    @include respond-to("lg") {
      width: 8%;
    }
    @include respond-to("hd") {
      width: 6%;
    }
    img {
      width: 100%;
    }
  }
}

.acquire {
  flex-direction: column;
  padding: 1.5rem 1rem;
  @include respond-to("md") {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  @include respond-to("lg") {
    padding: 1.5rem 4rem;
  }
  @include respond-to("fhd") {
    padding: 1.5rem 6rem;
  }
  &__text {
    @include respond-to("hd") {
        width: 40%;
    }
    @include respond-to("fhd") {
        width: 30%;
    }
    .extra-text {
      display: none;
      @include respond-to("md") {
        display: block;
      }
      
      &__border {
        border-bottom: solid 2px $secondary-color;
        padding-bottom: 1rem;
      }
      &__p {
        border-bottom: solid 2px $light-grey-color;
        padding-bottom: 1rem;
      }
    }
  }
  &__image {
    width: 14rem;
    align-self: center;
    @include respond-to("md") {
      width: 30rem;
      padding: 0 3rem;
    }
    img {
      width: 100%;
    }
  }
}
