.main {
    height: 100vh;
    background-color: $primary-color;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    @include respond-to("md") {
        flex-direction: row;
    }
    @include respond-to("lg") {
        padding: 0 4rem;
    }
    @include respond-to("fhd") {
        padding: 0 6rem;
    }
    &__image {
       display:none;
       @include respond-to("md") {
        width: 44rem;
        display: block;
        img {
            width: 100%;
        }
      }
      @include respond-to("lg") {
        width: 120rem;
      }
    }
}