.main {
  height: 100vh;
  background-color: $primary-color;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  @include respond-to("lg") {
    padding: 0 4rem;
    flex-direction: row;
  }
  @include respond-to("fhd") {
    padding: 0 6rem;
  }
  &__text {
    margin-top: 2rem;
    @include respond-to("md") {
      margin-top: 0;
    }
  }
  &__image {
    display: none;
    @include respond-to("md") {
      width: 44rem;
      display: block;
      img {
        width: 100%;
      }
    }
    @include respond-to("lg") {
      width: 115rem;
    }
  }
}

.what-it {
  background-color: $light-grey-color;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.5rem 1rem;
  @include respond-to("md") {
    flex-direction: row;
  }
  @include respond-to("lg") {
    padding: 1.5rem 4rem;
  }
  @include respond-to("fhd") {
    padding: 2rem 6rem;
  }
  &__block {
    padding-bottom: 1rem;
    @include respond-to("md") {
      padding: 0 1rem 0 0;
    }
    @include respond-to("fhd") {
      padding: 0 5rem 0 0;
    }
  }
}

.brands {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  &__image {
    width: 33%;
    padding: 2rem;
    @include respond-to("md") {
      width: 12%;
    }
    @include respond-to("lg") {
      width: 8%;
    }
    @include respond-to("fhd") {
      width: 6%;
    }
    img {
      width: 100%;
    }
  }
}

.block,
.communicate-footer  {
  flex-direction: column;
  padding: 2rem 1rem;
  @include respond-to("md") {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  @include respond-to("lg") {
    padding: 2.5rem 4rem;
  }
  @include respond-to("fhd") {
    padding: 2.5rem 6rem;
  }
  &__text {
    @include respond-to("md") {
      width: 55%;
    }
    @include respond-to("hd") {
      width: 40%;
    }
    @include respond-to("fhd") {
      width: 30%;
    }
    .extra-text {
      display: none;
      @include respond-to("md") {
        display: block;
      }
      &__border {
        border-bottom: solid 2px $secondary-color;
        padding-bottom: 1rem;
      }
      &__p {
        border-bottom: solid 2px $light-grey-color;
        padding-bottom: 1rem;
      }
    }
  }
  &__image {
    width: 14rem;
    align-self: center;
    @include respond-to("md") {
      width: 30rem;
      padding: 0 3rem;
    }
    img {
      width: 100%;
    }
  }
}

.team {
  background-color: $light-color;
  @include respond-to("md") {
    flex-direction: row-reverse;
  }
  .card {
    background-color: #FFFFFF;
    border-bottom: solid 5px $blue-color;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.10), 0 4px 6px 0 rgba(0,0,0,0.05), inset 0 1px 0 0 rgba(255,255,255,0.10);
  }
}

.communicate-footer {
  @include respond-to("md") {
    align-items: start;
    justify-content: space-around;
  }
  &__item {
    margin-bottom: 1rem;
    @include respond-to("md") {
      margin-bottom: 0;
      width: 30%;
    }
    u {
      color: $blue-color;
    }
  }
}

.engage {
  background-color: rgba(0, 161, 198, 0.15);
  .block__image {
    flex-direction: column;
    width: 12rem;
    margin: 1rem 0;
    @include respond-to("md") {
      flex-direction: row;
      justify-content: space-around;
      width: 18rem;
    }
    @include respond-to("lg") {
      width: 20rem;
    }
    @include respond-to("xl") {
      width: 26rem;
    }
    img {
      width: 100%;
      padding: 0.5rem 0;
      @include respond-to("md") {
        margin: 1.5rem;
        padding: 0;
      }
    }
  }
}

.trusted {
  padding: 2rem 1rem;
  @include respond-to("xl") {
    padding: 2.5rem 4rem;
    background-image: url('/images/trusted-bg.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  @include respond-to("fhd") {
    padding: 2.5rem 6rem;
  }
  .card {
    border: none;
    @include respond-to("xl") {
     width: 60%;
     margin: 0 auto;
    }
    @include respond-to("hd") {
      width: 45%;
     }
    @include respond-to("fhd") {
      width: 30%;
     }
  }
}

.hiring {
  padding: 2rem 1rem;
  @include respond-to("xl") {
    padding: 2.5rem 4rem;
  }
  @include respond-to("fhd") {
    padding: 2.5rem 6rem;
  }
  .jobs {
    .job {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid rgba(43,41,45,0.20);
      border-radius: 8px;
      padding: 1rem;
      margin: 0.5rem 0;
      cursor: pointer;
      color: $dark-color;
      transition: $transition;
      @include respond-to("md") {
        flex-direction: row;
        justify-content: space-between;
      }
      @include respond-to("lg") {
        width: 70%;
        align-self: center;
      }
      @include respond-to("hd") {
        width: 60%;
      }
      @include respond-to("fhd") {
        width: 40%;
      }
      &:hover {
        background-color: $secondary-color;
        h5{
          color: $white-color;
        }
        p{
          color: $white-color;
          img {
            display: none;
          }
        }

      }
      p {
        margin:0;
      }
    }
  }
}




